:root {
    --display: rgb(255, 255, 244);
    --buttons: rgb(188, 188, 188);
    --body: rgb(188, 207, 202);
    --border: rgb(60, 60, 60);
    --selected: rgb(230, 230, 230);
    --clicked: rgb(215, 215, 215);
  }

.calc-body {
    background-color: var(--body);
    border: 5px solid var(--border);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 450px;
    margin: auto;
}

.display    {
    background-color: var(--display);
    width: 377px;
    height: 102px;
    margin: 40px 2.5px 20px 2.5px;
    padding: 24px;
    border: 2.5px solid var(--border);
}
.current-num    {
    margin: 0px;
    font-family: 'Lucida Console', 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: right;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button  {
    background-color: var(--buttons);
    width: 100px;
    height: 80px;
    margin: 2.5px;
    border: 2.5px solid var(--border);
    font-family: 'Lucida Console', 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.delete {
    width: 209px;
    height: 80px;
}
.clear {
    width: 209px;
    height: 80px;
}